.css-1dvnweb-MuiButtonBase-root-MuiTab-root {
  color: #fff !important;
}
.MuiButtonBase-root
  .MuiTab-root
  .MuiTab-textColorPrimary
  .css-1dvnweb-MuiButtonBase-root-MuiTab-root {
  color: #fff !important;
}
.css-u8d120-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #fff !important;
  background: "#212640" !important;
}
