body {
  margin: 0;
  padding: 0;
  font-family: "Exo 2", sans-serif;
}
* {
  box-sizing: border-box;
}
input,
button {
  font-family: "Exo 2", sans-serif;
}
::placeholder {
  font-family: "Exo 2", sans-serif !important;
  color: #908f92 !important;
  font-size: 13px !important;
}

img {
  width: 100%;
}
a {
  text-decoration: none;
}
textarea {
  display: block !important;
  font-family: "Exo 2", sans-serif !important;
  padding: 10px !important;
}
input,
select {
  font-family: "Exo 2", sans-serif !important;
  font-size: 0.875rem !important;
  font-weight: 400 !important;
  color: #ffffff !important;
  width: 100%;
  background-color: #110c17 !important;
  border-color: #544a5d !important;
}

/* Style for autofilled input fields */
input:-webkit-autofill,
select:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-text-fill-color: #ffffff !important; /* Text color for autofill */
  -webkit-box-shadow: 0 0 0px 1000px #110c17 inset !important; /* Background color for autofill */
}

input:focus {
  outline: none !important;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rotateOnHover {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hidden-input {
  display: none;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-dot {
  animation: pulse 1s infinite;
}
.react-datepicker,
.react-datepicker__header,
h2.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name,
.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list,
.react-datepicker-time__header {
  background-color: #110c17 !important;
  color: #fff !important;
}
.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item:hover {
  background-color: #e8078d !important;
  color: #fff !important;
}
.react-datepicker-wrapper {
  display: block;
  width: 100%;
}
.react-datepicker__day--disabled,
.react-datepicker__month-text--disabled,
.react-datepicker__quarter-text--disabled,
.react-datepicker__year-text--disabled {
  background-color: #d3d3d330 !important;
}
.react-datepicker__input-container .input {
  letter-spacing: 0.00938em;
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem !important;
  font-weight: 400 !important;
  line-height: 1.4 !important;
  color: #fff !important;
  background-color: #110c17 !important;
  border: 0.0625rem solid #544a5d;
  appearance: none !important;
  border-radius: 0.5rem;
}

.react-datepicker__day--selected,
.react-datepicker__time-list-item--selected {
  background-color: #e8078d !important;
}
.react-datepicker__day--keyboard-selected {
  background-color: #e8078d62 !important;
}
.input.errorInput {
  border: 0.0625rem solid red;
}
label {
  font-size: 12px;
  color: #ffffff;
  span {
    color: red;
  }
}
.error {
  font-weight: 500;
  display: block;
  color: red;
  font-size: 12px;
}
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: transparent; /* Scrollbar thumb color */
  border-radius: 6px; /* Roundness of the scrollbar thumb */
  border: none; /* Padding around the scrollbar thumb */
  background-color: rgba(114, 111, 111, 0.103);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #03534227; /* Darker shade for hover effect */
}

.material-icons-round {
  font-size: 18px !important;
}
.iconSize {
  font-size: 10px !important;
  padding-right: 20px !important;
}
canvas {
  width: 300px;
}

.logout-button-alignment {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.class-relative {
  position: relative;
  height: 100%;
}

.call-grid {
  display: grid;
  grid-template-columns: 350px 1fr;
  gap: 30px;
}

.text-grid {
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 10px;
  /* padding: 0 0 10px 0; */
}
.profile-text-grid {
  display: grid;
  grid-template-columns: 150px 1fr;
  padding: 0 0 10px 0;
  gap: 10px;
}
.calander-header-alignment {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.two-content-alignment {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: nowrap;
}

@media (max-width: 1024px) {
  .call-grid {
    grid-template-columns: 300px 1fr;
    gap: 20px;
  }
  .calander-header-alignment {
    flex-wrap: wrap;
    gap: 20px;
  }
  .date-text-style {
    /* font-size: 18px !important; */
  }
}
